[Unit]
Description=Magic-Wormhole: Rendez-vous server for Magic-Wormhole

[Service]
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__INSTALL_DIR__/venv/mailbox-server/bin/twistd wormhole-mailbox --usage-db=usage.sqlite --port=tcp:__PORT__
Restart=always

[Install]
WantedBy=multi-user.target
